@{
    ViewData["Title"] = "Home Page";
}

    <!-- Main jumbotron for a primary marketing message or call to action -->
<div ng-controller="HelloController" ng-cloak>
    <div class="jumbotron">
        <div class="container">
            <h1>{{helloWorldText}}</h1>
            <p>{{helloWorldParagraph}}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">{{helloWorldLearnMoreBtn}} &raquo;</a></p>
        </div>
    </div>
</div>
